:root {
    --primary-color: #fcaeeb;
    --secondary-color: #afafaf;
    --tertiary-color: #000000;
  }
  
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
  
  body {
      color: var(--tertiary-color);
      font-family: Arial, Helvetica, sans-serif;
    }
  
  header {
      padding: 20px 35px;
      background-color: var(--tertiary-color);
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      background-image: url("../images/hero-bg-\(dark\).jpg");
      /* filter: grayscale(25%); */
      background-size: cover;
      background-position: 80%;
      background-attachment: fixed;
      z-index: 9999;
    }
  

    /* header:hover {
        filter: grayscale(0%);
      } */


    header h1 {
      font-weight: bold;
      font-size: 36px;
      color: var(--primary-color);
      margin: 0;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
    
    header a {
      text-decoration: none;
      color: var(--primary-color);
    }
  
    header nav {
      margin: 6.5px 0;
    }
  
    header nav ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      list-style: none;
    }
  
    header nav ul li a {
      padding: 10px 15px;
      font-weight: lighter;
      font-size: 1.35vw;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    }
  
    header nav ul li a:hover {
      background: var(--primary-color);
      color: var(--secondary-color);
      border-radius: 15px;
      text-shadow: none;
    }
  
  footer {
      background-image: url("../images/hero-bg.jpg");
      filter: grayscale(35%);
      width: 100%;
      padding: 38px 35px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    footer:hover {
        filter: grayscale(0%);
      }
  
    /* footer h2 {
      color: var(--secondary-color);
      font-size: 20px;
      margin: 0;
      width: 100%;
    } */
  
    footer div {
      line-height: 1;
      /* text-align: right; */
      width: 100%;
      text-align: center;
      color: var(--secondary-color);
      font-size: 18px;
      margin: 5px;
    }
  
    footer a {
      color: var(--secondary-color);
    }
  
  section {
      padding: 60px;;
      /* background-image: url("../images/Light-Website-Background.jpg"); */
    }
  
  .hero {
      background-image: url("../images/hero-bg.jpg");
      filter: grayscale(35%);
      background-size: cover;
      background-position: 80%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      align-items: flex-start;
      background-attachment: fixed;
    }

    .hero img {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      padding: 50px 50px;
      filter: grayscale(100%);
    }

    .hero:hover {
        filter: grayscale(0%);
      }

  
  .section-title {
      font-size: 48px;
      color: var(--secondary-color);
      border-bottom: 3px solid;
      padding-bottom: 20px;
      text-align: center;
      margin: 0 auto 35px auto;
      width: 50%;
    }
    
  .primary-border {
      border-color: var(--primary-color);
    }
    
  .secondary-border {
      border-color: var(--tertiary-color);
    }

    /* .intro {
      display:flex;
    } */

    /* .intro h2 { */
      /* justify-content: left; */
      /* margin: 0; */
      /* text-align: left; */
      /* width: 100%; */
    /* } */
  
    .intro img {
      width: 60%;
      height: 50%;
      display: flex;
      align-content: center;
      flex-direction: column;
      padding: 2px 2px 25px 2px;
      filter: grayscale(100%);
      margin: auto;
    }

    .intro img:hover {
      filter: grayscale(0%);
    }


    .intro p {
      margin: 0 auto;
      line-height: 1.7;
      color: var(--tertiary-color);
      width: 80%;
      font-size: 20px;
      text-align: center;
      align-items:flex-end;
    }

    
  
  .skills {
      background: var(--primary-color);
      background-image: url("../images/Dark-Website-Background.jpg");
    }
  
    .skill {
      margin: 50px auto;
      padding-bottom: 50px;
      width: 65%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
  
    .skill:not(:last-child) {
      border-bottom: 1px solid var(--tertiary-color);
    }
    
    .skill h3 {
      color: var(--secondary-color);
      font-size: 46px;
      flex: 1 30%;
    }
    
    .skill-text p {
      color: var(--tertiary-color);
      font-size: 18px;
    }
  
    .skill-text h4 {
      font-size: 30px;
      line-height: 1.5;
      color: var(--secondary-color);
    }
  
    .skill-info {
      flex: 2 70%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      
    }
  
    .skill-img {
      flex: 1 12%;
      margin-right: 20px;
    }
  
    
    .skill-img img {
      max-width: 100%;
      filter: grayscale(100%);
    }
  
    .skill-img img:hover {
      filter: grayscale(0%);
    }
  
    .skill-text {
      flex: 12;
    }

    .portfolio {
      filter: grayscale(100%);
    }
  
    
    .portfolio-card{
      align-items: flex-start;
      display: flex;
      min-height: 58%;
      justify-content:center;
      padding: 25px 25px;
      /* filter: grayscale(100%); */
    }
    
    .card-container{
      display:grid;
      grid-template-columns: repeat(1, 1fr);
      padding: 25px;
      grid-column-gap: 40px;
      grid-row-gap: 25px;
      max-width: 1500px;
      width:100%;
    }
    
    p {
      color: pink;
    }
    
    .card{
      list-style: none;
      position: relative;
    }
    
    .card:before{
      content: '';
      display: block;
      padding-bottom: 150%;
      width: 100%;
    }
    
    .card-background{
      background-size: cover;
      background-position: center;
      border-radius: 15px;
      box-shadow: -6px 7px 5px #7e7e7e;
      bottom: 0;
      filter: brightness(0.75) saturate(1.2) contrast(0.85);
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transform-origin: center;
      transform: scale(1) translateZ(0);
      transition: 
        filter 200ms linear,
        transform 200ms linear;
    }
    
    .card:hover .card-background{
      transform: scale(1.05) translateZ(0);
    }
    
    .card-container:hover > .card:not(:hover) .card-background{
      filter: brightness(0.5) saturate(0) contrast(1.2) blur(5px);
    }
    
    .card-content{
      left: 0;
      padding: 25px;
      position: absolute;
      top: 0;
    }
    
    .card-description{
      color: rgba(255,255,255,0.6);
      font-size: 0.9rem;
      margin-bottom: 15px;
      text-transform: uppercase;
    }
    
    .card-header{
      color: rgba(255,255,255,0.9);
      font-size: 1.9rem;
      text-shadow: 2px 2px 20px rgba(0,0,0,0.2);
      line-height: 1.4;
      word-spacing: 100vw;
    }
    
    
   
  
  .contact {
    background-image: url("../images/Dark-Website-Background.jpg");
  }
  
  .contact h2 {
    color: var(--primary-color);
  }
  
  .contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .contact-info iframe {
    height: 400px;
  }
  
  .contact-info div {
    color: white;
  }
  
  .contact-info h3 {
    color: var(--primary-color);
    font-size: 32px;
  }
  
  .contact-info > * {
    flex: 1;
    margin: 15px;
  }
  
  .contact-info p, .contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
  }
  
  .contact-form input, .contact-form textarea {
    border: 1px solid var(--secondary-color);
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: var(--secondary-color);
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
  }
  
  .contact-form input, .contact-form textarea:focus {
    background-color: rgba(255,255,255, 1);
    outline: none;
  }
  
  .contact-form button {
    width: 100%;
    border: none;
    background: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
    border-radius: 10px;
  }
  
  .contact-form button:hover {
    color: var(--primary-color);
    background: var(--tertiary-color);
  }
  
  .contact-info a {
    color: var(--primary-color);
  }
  
  .contact address img {
      display: inline-flex;
      align-items: flex-start;
      max-height: 45px;
      max-width: 45px;
      /* margin: 5px */
  }


  .contact address img:hover {
    filter:opacity(50%);
  }


 /* MEDIA QUERY FOR PORTFOLIO CARDS */
  @media(min-width: 540px){
    .card-container{
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media(min-width: 960px){
    .card-container{
      grid-template-columns: repeat(3, 1fr); 
    }
  }





  
  
  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
  @media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    header h1 {
      width: 100%;
      text-align: center;
    }
  
    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    header nav ul li a {
      font-size: 20px;
    }
  
    footer h2, footer div {
      text-align: center;
      width: 100%;
    }
    .hero-cta, .hero-form {
      width: 100%;
    }
    
    .hero-cta {
      text-align: center;
    }
    .section-title {
      width: 80%;
    }
    
    .trainer {
      flex: 0 70%;
    }
    
    .contact-info iframe{
      flex: 1 100%;
    }
  
  }
  
  
  
  
  
  
  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }
    .skill h3 {
      flex: 1 100%;
      text-align: center;
    }
  
    .skill-info {
      flex: 2 100%;
      text-align: center;
      justify-content: center;
    }
  
    .skill-img {
      flex: 0 32%;
      margin-right: 0;
      margin-top: 15px;
      margin-bottom: 15px;
    }
  
    .skill-text {
      flex: 100%;  
    }
  }
  
  
  
  
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    .hero-form button {
      width: 100%;
    }
  
    .section-title {
      width: 95%;
    }
  
    .intro p {
      width: 100%;
    }
  
    .trainer {
      flex: 0 100%;
    }
  
    .contact-info {
      text-align: center;
    }
  
    .contact-info > * {
      flex: 0 100%;
    }
  
    .contact-form {
      order: 3;
    }

  }